*config*
node_modules
*records*.json
*records*.csv
*json*

*records*.xls
*.xls
*.json
*.csv
narc-cluster/db/redcap/*json
*secret*
*accdb*
*.xlsx*
*.env*
*.jar*
*.log*
*.crt*
*.pem*
*.p7b*
*.ca-*
*.key*
narc_cluster/services/certs
*/certs/*